#wrapper{
    width: 960px;
    border: 1px solid black;
    margin: auto;
}
#menu {
    background-color: red;
    height: 50px;
    line-height: 50px;

}

#menu li {
    display: inline;

}

#menu ul {
    margin: 0px;

  }
#banner {
    background-color: green;
    width: 593px;
}
#content {
    background-color: yellow;
    width: 593px;
    float: left;
}
#sidebar {
    clear: both;
    background-color: gold;
    float: left;

}

#footer {
    clear: both;
    background-color: blueviolet;
}

.box{

}