body {
    font-family: Helvetica, "Helvetica Neue", SansSerif, sans-serif;
    }

#wrapper {
    width: 960px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

#hero-text {
    position: relative;
    background-color: white;

    top: 50px;

}
#menu {
    background-color: antiquewhite;
    height: 25px;
    line-height: 25px;
}

#menu ul {
    margin: 0px;
}

#menu li {
    display: inline;
}

#banner {
    background-size: contain;
    background: url("../images/happy-people.jpg") no-repeat;
    height: 100%;
    width: 100%;
    line-height: 50px;
    opacity: .5%;
}

.std-padding{
    padding-left: 31px;

}

.borderThin {
    border: 1px solid black;
}

#content {
    width: 544px;
    background-color: green;
    float: left;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 27px;

}

#sidebar {
    background-color: whitesmoke;
    float: left;
    width: 368px;
}

#footer {

    background-color: bisque;
    clear: both;
    float: left;

}
